bin
*.suo
*.sdf
*.opensdf
Makefile
Makefile.in
configure
config.log
config.status
.deps
.c9/
aclocal.m4
autom4te.cache
compile
depcomp
install-sh
missing
test-driver
*.a
*.o
test1Performance
.vs
